::placeholder {
	color: var(--fg);
	opacity: 0.5;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.search {
	position: absolute;
	margin: 2em 2em 0 0;
	top: 0;
}

.searchform {
	background-color: var(--cards);
	width: 500px;
	height: 2em;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchform:hover {
	transform: translateY(-0.2rem);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
	background-color: var(--background);
}

.searchinput {
	all: unset;
	color: var(--fg);
	height: 100%;
	width: 100%;
	padding: 6px 10px;
	caret-color: var(--accent);
}
.searchbutton {
	all: unset;
	cursor: pointer;
	width: 4em;
	height: 44px;
	margin-left: 10%;
}

.searchsvg {
	color: var(--fg);
	fill: currentColor;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.searchform:hover .searchsvg:not(:hover) {
	color: var(--fg);
}

#path path {
	d: path(
		"M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
	);
}
