:root {
  /* Light Colors  */

  --background: #d8e2e1; /* Background color */
  --accent: #e7ca62; /* Hover color */
  --cards: #ecbd10; /* Cards color */

  /* Fonts Color */
  --fg: #292a2b; /* Foreground color */
  --sfg: #1d1d1d; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(rgba(216, 226, 225, 0.7), rgba(216, 226, 225, 0.7)); /* Filter color */

  /* Dark Colors  */

  --darkbackground: #292a2b; /* Background color */
  --darkaccent: #64a8d8; /* Hover color */
  --darkcards: #32b5c7; /* Cards color */

  /* Fonts Color */
  --darkfg: #d8e2e1; /* Foreground color */
  --darksfg: #fdf6e3; /* Secondary Foreground color */

  /* Image background  */
  --darkimgcol: linear-gradient(rgba(41 42, 43, 0.85), rgba(41 42, 43, 0.85)); /* Filter color */
}
