:root {
  /* Font Size */
  --fg-primary: 12vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --fg-date: 8vh; /* Date */
  --fg-list: 2vh; /* Links List */
  --icon: 3vh; /* Icon Size */
}

.card {
  @apply shadow-md hover:shadow-xl shadow-gray-400/75 dark:shadow-black/40 rounded hover:-translate-y-2 bg-cards dark:bg-darkcards
}
.body {
  @apply bg-background dark:bg-background
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all ease-in-out duration-150
}


.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

.button__1 {
  grid-row: 1;
  grid-column: 1;
}
.button__2 {
  grid-row: 1;
  grid-column: 2;
}
.button__3 {
  grid-row: 2;
  grid-column: 1;
}
.button__4 {
  grid-row: 2;
  grid-column: 2;
}
.button__5 {
  grid-row: 1;
  grid-column: 3;
}
.button__6 {
  grid-row: 2;
  grid-column: 3;
}

.list__1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  padding-top: 2px;
  padding-bottom: 2px;
}
.list__2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  padding-top: 2px;
  padding-bottom: 2px;
}

.listItem {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 80%;

}

.button {
  grid-gap: 3vw;
  padding-left: 100px;
  padding-right: 100px;
}
