:root {
  /* Light Colors  */
  /* Catppuccin is a dark-mode color palete. The theme is similar for both modes. */

  --background: #C3BAC6; /* Background color */
  --accent: #C9CBFF; /* Hover color */
  --cards: #F2CDCD; /* Cards color */

  /* Fonts Color */
  --fg: #302D41; /* Foreground color */
  --sfg: #FAE3B0; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(rgba(87, 82, 104, 0.85), rgba(87, 82, 104, 0.85)); /* Filter color */

  /* Dark Colors  */

  --darkbackground: #1e1e2e; /* Background color */
  --darkaccent: #575268; /* Hover color */
  --darkcards: #302d41; /* Cards color */

  /* Fonts Color */
  --darkfg: #d9e0ee; /* Foreground color */
  --darksfg: #f5e0dc; /* Secondary Foreground color */

  /* Image background  */
  /* Image background  */
  --darkimgcol: linear-gradient(rgba(30, 30, 46, 0.85), rgba(30, 30, 46, 0.85)); /* Filter color */
}
